html {
  font-size: 12px;
  background-color: #333333;
}

.body { 
  padding: 40px;
  margin: 100px;
  border: 4px solid black;
  background-color: #EEEEEE;
}

.header { 
  text-align:center;
}

.summary {
 text-align:center; 
}

.edu p {
  display: inline;
  text-align: center;
  margin: 5px;
}

h1 {
  color: DarkOliveGreen;
  font-family: Georgia,serif;
  font-size: 4rem;
}

h2 {
  font-variant: small-caps;
  font-family: Georgia, serif;
  font-size: 2rem;
  text-align: center;
}

p {
  font-family: Helvetica, sans-serif;
}

#pic {
  float: right;
  width: 25%;
  border: 6px solid white;
  margin: 20px;
}
