html {
  font-size: 14px;
  background-color: #333333;
  background-image: url("background.jpg");
  background-position: center;
  background-size: cover;
}

h1 {
  color: Black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 4rem;
}

h2 {
  font-variant: small-caps;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2rem;
  text-align: center;
}

p {
  font-family: Tahoma, Geneva, sans-serif;
}

li {
  font-family: Tahoma, Geneva, sans-serif;
  list-style-type: square;
  list-style-position: inside;
}

.body { 
  padding: 55px;
  margin: 150px;
  border: 4px solid black;
  background-color: #EEEEEE;
}

.header { 
  text-align:center;
}

.summary {
 text-align:center; 
  padding-left: 5%;
  padding-right: 10%;
}

.edu {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.hs { 
  width: 30%;
  margin-left: 10%;
  word-wrap: break-word;
}

.col { 
  width: 30%;
  margin-left: 20%;
  word-wrap: break-word;
}

.work { 
  padding: 5%;
}


#pic {
  float: right;
  width: 25%;
  border: 10px solid white;
  margin: 20px;
  box-shadow: -3px 3px 10px black;
}

